body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 2vh;
    display: flex;
    justify-content: center;
    height: 95vh;
}

.container {
    width: 90%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

header {
    background-color: #0070ba;
    color: white;
    padding: 16px;
    text-align: center;
    animation: slideInFromTop 1s ease-in-out;
}

@keyframes slideInFromTop {
    from { transform: translateY(-100%); }
    to { transform: translateY(0); }
}

.chat-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.chat-box {
    flex-grow: 1;
    padding: 16px;
    overflow-y: auto;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    border-top: 1px solid #e0e0e0;
    align-items: center;
    padding: 10px;
}

.user-input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #f0f0f0;
    margin-right: 10px;
    animation: inputFocus 0.5s ease-in-out;
}

@keyframes inputFocus {
    from { transform: scale(0.95); }
    to { transform: scale(1); }
}

.send-button {
    background-color: #0070ba;
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: buttonPop 0.5s ease-in-out;
}

@keyframes buttonPop {
    from { transform: scale(0.95); }
    to { transform: scale(1); }
}

.send-button:hover {
    background-color: #005fa3;
}

.message {
    margin-bottom: 10px;
    padding: 8px 12px;
    border-radius: 12px;
    max-width: 70%;
    word-wrap: break-word;
    animation: messagePop 0.5s ease-in-out;
}

@keyframes messagePop {
    from { transform: scale(0.95); }
    to { transform: scale(1); }
}

.user-message {
    background-color: #0070ba;
    color: white;
    align-self: flex-end;
    margin-right: 10px;
    text-align: right;
}

.bot-message {
    background-color: #e0e0e0;
    color: #333;
    align-self: flex-start;
    margin-left: 10px;
    text-align: left;
}
